In [1]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

In [2]:
heart  = pd.read_csv("heart-disease.csv")
heart

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
x = heart.drop("target" , axis = 1)
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [4]:
y = heart["target"]
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [5]:
clf = RandomForestClassifier()

In [6]:
from sklearn.model_selection import train_test_split

x_train, x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2)

In [7]:
clf.fit(x_train,y_train); ##training model

In [8]:
a = clf.predict(x_test) #predicting target column

In [9]:
clf.score(x_test, y_test)

0.819672131147541

In [10]:
from sklearn.metrics import classification_report , confusion_matrix , accuracy_score
print(classification_report(y_test , a))

              precision    recall  f1-score   support

           0       0.91      0.70      0.79        30
           1       0.76      0.94      0.84        31

    accuracy                           0.82        61
   macro avg       0.84      0.82      0.82        61
weighted avg       0.84      0.82      0.82        61

In [11]:
#improving the model
np.random.seed(42)
for i in range(10,100,10):
    clf = RandomForestClassifier( n_estimators=i)
    print(f"Trying model with {i} classifier : ")
    clf.fit(x_train,y_train)
    print(f"Accuracy of {i} model is {clf.score(x_test, y_test)*100}%")
    print("")

Trying model with 10 classifier :
Accuracy of 10 model is 77.04918032786885%

Trying model with 20 classifier :
Accuracy of 20 model is 75.40983606557377%

Trying model with 30 classifier :
Accuracy of 30 model is 80.32786885245902%

Trying model with 40 classifier :
Accuracy of 40 model is 78.68852459016394%

Trying model with 50 classifier :
Accuracy of 50 model is 81.9672131147541%

Trying model with 60 classifier :
Accuracy of 60 model is 77.04918032786885%

Trying model with 70 classifier :
Accuracy of 70 model is 78.68852459016394%

Trying model with 80 classifier :
Accuracy of 80 model is 77.04918032786885%

Trying model with 90 classifier :
Accuracy of 90 model is 83.60655737704919%

In [12]:
#saving and loading the model
import pickle
pickle.dump(clf ,open("model-practise1.pkl" , "wb"))

In [13]:
new = pickle.load(open("model-practise1.pkl", "rb"))

In [14]:
new

RandomForestClassifier(n_estimators=90)

In [15]:
new.score(x_train,y_train)

1.0

In [16]:
new.score(x_test , y_test)

0.8360655737704918

In [19]:
accuracy_score(y_test , a)

0.819672131147541

In [20]:
from sklearn.metrics import classification_report , confusion_matrix , accuracy_score

In [21]:
confusion_matrix(y_test, a)

array([[21,  9],
       [ 2, 29]], dtype=int64)