In [1]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

In [2]:
heart  = pd.read_csv("heart-disease.csv")
heart

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
x = heart.drop("target" , axis = 1)
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [4]:
y = heart["target"]
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [5]:
clf = RandomForestClassifier()

In [6]:
from sklearn.model_selection import train_test_split

x_train, x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2)

In [7]:
clf.fit(x_train,y_train); ##training model

In [8]:
a = clf.predict(x_test) #predicting target column

In [9]:
clf.score(x_test, y_test)

0.819672131147541

In [10]:
from sklearn.metrics import classification_report , confusion_matrix , accuracy_score
print(classification_report(y_test , a))

              precision    recall  f1-score   support

           0       0.77      0.85      0.81        27
           1       0.87      0.79      0.83        34

    accuracy                           0.82        61
   macro avg       0.82      0.82      0.82        61
weighted avg       0.82      0.82      0.82        61

In [11]:
#improving the model
np.random.seed(42)
for i in range(10,100,10):
    clf = RandomForestClassifier( n_estimators=i)
    print(f"Trying model with {i} classifier : ")
    clf.fit(x_train,y_train)
    print(f"Accuracy of {i} model is {clf.score(x_test, y_test)*100}%")
    print("")

Trying model with 10 classifier :
Accuracy of 10 model is 80.32786885245902%

Trying model with 20 classifier :
Accuracy of 20 model is 75.40983606557377%

Trying model with 30 classifier :
Accuracy of 30 model is 78.68852459016394%

Trying model with 40 classifier :
Accuracy of 40 model is 80.32786885245902%

Trying model with 50 classifier :
Accuracy of 50 model is 78.68852459016394%

Trying model with 60 classifier :
Accuracy of 60 model is 77.04918032786885%

Trying model with 70 classifier :
Accuracy of 70 model is 78.68852459016394%

Trying model with 80 classifier :
Accuracy of 80 model is 77.04918032786885%

Trying model with 90 classifier :
Accuracy of 90 model is 78.68852459016394%

In [12]:
#saving and loading the model
import pickle
pickle.dump(clf ,open("model-practise1.pkl" , "wb"))

In [13]:
new = pickle.load(open("model-practise1.pkl", "rb"))

In [14]:
new

RandomForestClassifier(n_estimators=90)

In [15]:
new.score(x_train,y_train)

1.0

In [16]:
new.score(x_test , y_test)

0.7868852459016393

In [17]:
accuracy_score(y_test , a)

0.819672131147541

In [18]:
from sklearn.metrics import classification_report , confusion_matrix , accuracy_score

In [19]:
confusion_matrix(y_test, a)

array([[23,  4],
       [ 7, 27]], dtype=int64)

In [20]:
car = pd.read_csv("car-sales-extended.csv")
car

       Make Colour  Odometer (KM)  Doors  Price
0     Honda  White          35431      4  15323
1       BMW   Blue         192714      5  19943
2     Honda  White          84714      4  28343
3    Toyota  White         154365      4  13434
4    Nissan   Blue         181577      3  14043
..      ...    ...            ...    ...    ...
995  Toyota  Black          35820      4  32042
996  Nissan  White         155144      3   5716
997  Nissan   Blue          66604      4  31570
998   Honda  White         215883      4   4001
999  Toyota   Blue         248360      4  12732

[1000 rows x 5 columns]

In [21]:
car["Doors"].value_counts() ##categorizing values

4    856
5     79
3     65
Name: Doors, dtype: int64

In [22]:
x = car.drop("Price", axis = 1)
y = car["Price"]
x

       Make Colour  Odometer (KM)  Doors
0     Honda  White          35431      4
1       BMW   Blue         192714      5
2     Honda  White          84714      4
3    Toyota  White         154365      4
4    Nissan   Blue         181577      3
..      ...    ...            ...    ...
995  Toyota  Black          35820      4
996  Nissan  White         155144      3
997  Nissan   Blue          66604      4
998   Honda  White         215883      4
999  Toyota   Blue         248360      4

[1000 rows x 4 columns]

In [23]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer


one_hot = OneHotEncoder()
column = ["Make" , "Colour","Doors"]
transformer = ColumnTransformer([("one_hot" , one_hot , column )] , remainder = "passthrough")

In [24]:
transformed_x = transformer.fit_transform(x)
transformed_x

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [25]:
x_train , x_test , y_train , y_test = train_test_split(transformed_x , y , test_size = 0.2)

In [26]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(x_train , y_train)
model.score(x_test , y_test)

0.259996418764183

In [27]:
y_pred = model.predict(x_test)

In [28]:
y_pred ##price prediction on the basis of x_test data

array([14911.28, 19621.05, 12124.15, 11964.99, 24161.2 , 16154.63,
        9070.08, 25387.98, 16122.9 , 20395.98, 19997.17, 18917.35,
       17327.45, 27776.87, 17257.72, 27222.66, 30900.86, 12350.49,
       19054.24,  9984.38,  8164.21, 18387.92, 35330.55, 13778.67,
       22359.22, 14746.11, 13278.34, 13245.7 , 12531.6 , 19586.25,
       23056.09, 20213.27, 11074.8 , 14479.09, 10006.12, 30466.31,
       13594.01, 12108.54,  9578.34, 15722.41, 10179.65,  9306.39,
       19977.85,  9552.06, 17300.42, 18958.81, 10344.42, 12580.09,
       30484.14, 12225.12, 10066.1 , 15645.08, 24454.57, 26037.5 ,
       19836.02, 17334.84, 17064.52, 10312.63, 18432.69,  9544.07,
       20852.78, 10512.13, 19070.66, 17455.85, 14096.09, 34699.14,
        9444.78, 14224.35, 11760.56, 17929.97, 10848.93,  9720.25,
       11431.75, 16421.62, 17188.74, 15404.42,  5846.5 , 22092.67,
        9585.19,  8035.64, 21687.93, 15800.19,  9294.9 , 10735.67,
       15045.64, 21333.83, 13960.24, 29551.55,  9936.03, 25366.82,
        8727.55, 11583.37,  9477.95, 10662.22, 11884.86, 11433.26,
        8727.55, 26214.95, 14325.05, 15334.24, 22264.3 , 22281.06,
       12817.02, 11027.43,  8074.79, 17298.86,  9828.71, 16874.74,
       13913.35, 20714.98, 11665.15, 11135.18, 10370.69, 10650.08,
       11960.9 , 12885.53, 14264.27, 11970.66, 15708.37, 15585.54,
        7998.04, 21531.2 , 13799.69, 17792.53, 12637.38, 26214.95,
       10441.31,  8458.56, 18026.72, 16064.07,  8085.23, 14375.09,
       19998.93,  9833.32, 15037.36, 26486.06,  8683.52,  9857.36,
       29923.6 ,  8845.09, 18330.21, 12033.13, 24076.06, 17069.2 ,
       21392.49,  6583.79, 23082.53,  8374.66, 12536.64, 11767.97,
       22293.32, 38711.28,  9378.49, 29033.54, 28794.16,  9041.8 ,
        8280.88,  9963.81, 28201.11, 11692.16, 13997.83, 21557.62,
       27631.33, 15140.25, 21544.01, 18998.1 , 10300.83,  9889.24,
       14680.93, 12247.85, 22859.76, 30506.2 , 11909.45, 12400.72,
       20999.99, 10412.25,  8701.09, 26564.76, 17026.22, 10668.04,
       13837.91,  9295.73,  8478.85, 14917.86, 17703.49,  9988.94,
        8611.95, 11062.71,  7821.74, 14868.22, 11832.74, 10689.72,
       10711.17, 12132.14, 12380.18, 28912.22, 14016.65, 35789.22,
       12058.27,  8866.13])